@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Seafood.ViewModels

@model LoginViewModel
@if (ViewData["message"] != null)
{
    <p class="wrong">@ViewData["message"]</p>
    <hr />
}

<div class="panel panel-info">
    <div class="panel-heading">Log In</div>
    <div class="panel-body">
        <div class="form-group">
            @using (Html.BeginForm())
            {
                <label>Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                <label>Password</label>
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password"})
                <br />
                <input type="submit" value="Log In" class="btn btn-success" />
            }
        </div>
    </div>
</div>
