@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Seafood.ViewModels

@model RegisterViewModel
@if(ViewData["message"] != null)
{
    <p class="wrong">@ViewData["message"]</p>
}
<div class="panel panel-warning">
    <div class="panel-heading">Register new user</div>
    <div class="panel-body">
        <div class="form-group">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
            {
                <label>Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                <label>Password</label>
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password" })
                <label>Confirm Password</label>
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @type = "password" })
                <br />
                <input type="submit" value="Register" class="btn btn-success"/>
            }
        </div>
    </div>
</div>