@{ 
    ViewData["Title"] = "Welcome to Seattle Seafood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Main page</h5>

<h4>Content</h4>

<p>@Html.ActionLink("Admin Page", "Index", "Account")</p>