@{ 
    ViewData["Title"] = "Welcome to Seattle Seafood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Seafood.Models.Info


<h4>@Model.Title</h4>
<img src="@Model.MainImage" id="image"/>
@Html.Raw(@Model.About)
